*~
pvc.yaml
job-copy-queries.yaml
job-init-pv.yaml
blast-batch-*.yaml
*.out
.vscode/
kubectl
*.asn
__pycache__
.env
.env-test
.eggs
*.egg-info
dist
build
MANIFEST
elastic-blast.log
elb-run-summary.json
.mypy_cache
.pytest_cache
*.tgz
*.tar.gz
total_count
/jobs
/*.fa
/*.fna
/*.fsa
.tox/
htmlcov/
.coverage*
/elb-cost
/blast-tuner
tags
cscope.*
/elastic-blast
elastic-blast3.*
kubeconfig.yaml
creds.sh
/*logs
iam-policy.json
clouseau*
submit-and-wait-for-results.sh
aws-docker-login.txt
elb-run-report.csv
aws-credentials
.elb-venv
docker-job-submit/templates/
