---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blast-dbs-pvc-rwo
spec:
  storageClassName: ${ELB_SC_NAME}
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: ${ELB_PD_SIZE}
