---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blast-dbs-pvc-rwo
spec:
  storageClassName: "gcp-pd-ssd"
  accessModes:
  - ReadWriteOnce
  resources:
    requests:
      storage: ${ELB_PD_SIZE}
