---
apiVersion: v1
kind: PersistentVolumeClaim
metadata:
  name: blast-dbs-pvc
spec:
  storageClassName: "gcp-pd-ssd"
  accessModes:
    - ReadOnlyMany
    - ReadWriteOnce
  resources:
    requests:
      storage: ${ELB_PD_SIZE}
